.menu{
    margin-right: 0.5em;;
}

#icon_menu{
    cursor: pointer;
}

h1{
    font-family: "Product Sans",Arial,sans-serif;
    color: #5f6368;
    font-size:  22px;
}
.pesquisa{
    margin-top:1em;
    margin-left: 15em;
}

button{
    width: 18rem;
    height: 4.5rem;
    margin-top: 1em;
    border:none;
    border-radius: 2rem;
    color: #5f6368;
    font-size: 1.4rem;
    font-weight: bold;
    box-shadow: 2px 2px 1em #888;
}
    button:hover{
        color: #027fe9;
        transition: ease-in-out 200ms;
    }

.opcoes{
    position: absolute;   
    left: 0;
    margin-top: 4rem;
}
.opcoes a{
    padding: 1.5vh;
    padding-left: 2rem;
    padding-right: 6em;
    font-size: 14px;
    font-weight: bold;
    font-family: "Product Sans",Arial,sans-serif;
    border-radius: 0 2em 2em 0;
    text-decoration: none;
}
    .opcoes a:hover{
        font-size: 15px;
        background-color: #c7c6c667;
        transition: ease-in-out 200ms;
    }